body {
    background-image: url('1.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    height: 100vh; /* Ensure full height of viewport */
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  #typing-text {
    padding: 10px;
    margin-bottom: 20px;
    min-height: 5px;
  }
  /* Additional styles for the input area */
  #input-text {
    background-color: rgba(0, 0, 0, 0.7); /* Dark background color */
    color: white; /* White text color */
    border: 1px solid #ccc; /* Border color */
    padding: 10px; /* Padding */
    margin-bottom: 20px; /* Margin bottom */
    min-height: 100px; /* Minimum height */
    resize: none; /* Prevent resizing */
    position: relative;
    bottom: 20px;
  }
  /* Styles for the button */
  #start-btn {
    background-color: #007bff; /* Blue button color */
    border-color: #007bff; /* Blue button border color */
    position: relative;
    bottom: 20px;
  }
  #start-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
    border-color: #0056b3; /* Darker blue border on hover */
  }